<%- include ("./partials/navbar.ejs") %>
<div class="mx-5 my-5 text-center">
      <h3 style="color:white">Here are all your liked songs and playlists for you to listen to again!</h3>
    </div>
<div class="h-100">
    <% if(songs.length===0){%>
        <div class="music w-50  text-center align-items-center d-flex mx-auto my-5"><span class="font-weight-bold">You have no liked songs yet :(</span></div>
    <%} else {%>
    <div class="music w-50  text-center align-items-center d-flex mx-auto my-5"><span class="font-weight-bold">Your liked songs</span></div>
    <div class="w-75 justify-content-evenly d-flex flex-wrap  mx-auto my-5">
         <%songs.forEach(function(song){%>
            <div> 
                <iframe class="mx-3 my-3" style="width: 20rem;border-radius:12px" src="https://open.spotify.com/embed/track/<%=song.song_id%>?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
        <%})%>
            
            
            
            
    <div>

    </div>
       
  
    </div>
    <%}%>
    <% if(playlists.length===0){%>
        <div class="music w-50  text-center align-items-center d-flex mx-auto my-5"><span class="font-weight-bold">You have no liked playlists yet :(</span></div>
        <%} else {%>
    <div class="music w-50  text-center align-items-center d-flex mx-auto my-5"><span class="font-weight-bold">Your liked playlists</span></div>
    <div class="w-75 justify-content-evenly d-flex flex-wrap  mx-auto my-5">
        <%playlists.forEach(function(playlist){%>
            <div> 
                <iframe class= "mx-3 my-3" style=" width: 20rem; border-radius:12px" src="https://open.spotify.com/embed/playlist/<%=playlist.playlist_id%>?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
            </div>
            <%})%>
            
    <div>

    </div>
       
  
    </div>
    <%}%>
</div>
</body>

</html>