<%- include ("./partials/navbar.ejs") %>
<div class="h-100">
    <div class="music w-50  text-center align-items-center d-flex mx-auto"><span class="font-weight-bold">Mood Tracker</span></div>
    <div class="playlist mt-2 w-75 px-3 pt-1 pb-4 mx-auto h-100 container">
        <canvas id="myChart" width="200" height="100"></canvas>
      
    </div>
    </div>
 
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
    <!--<script>
        const myData =  JSON.stringify(emotions);
        console.log(myData);
    </script>-->
    <script src="js/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
    <!--
        <script>
      const options = {
    
    label: '🌓', // default: ''
    autoMatchOsTheme: true // default: true
  }
  
      function addDarkmodeWidget() {
        new Darkmode().showWidget();
      }
      window.addEventListener('load', addDarkmodeWidget);
    </script>
-->
    </body>