<%- include ("./partials/navbar.ejs") %>
<div class="mx-5 my-5">
  <h3 style="color:#24C28A">Start the camera, Take a picture and when you are finally happy with your picture, Detect mood to find out your emotion!</h3>
</div>
 
<div class="mood_detector w-75  mx-auto mt-5 p-2 mb-5">
    <div class="video_player  mx-auto d-flex flex-wrap justify-content-around">
     
   <!-- Video -->
   <label for"video_camera"></label><br />
   <video id="video_camera">Video stream not available.</video><br />
   
   <!-- Canvas -->
   <label for"canvas"></label><br />
   <canvas id="canvas"></canvas><br />
    </div>
      <div class="d-flex flex-wrap justify-content-around mt-3">

          <button type="span" id="start_camera_button" class="btn btn-colorp btn-lg m-1 rounded"><span class="font-weight-bold" >Start Camera</span></button>
          <button type="span" id="take_picture_button"  class="btn btn-colory btn-lg m-1 rounded" disabled><span class="font-weight-bold">Take picture</span></button>
         <!-- <form action="/" method="POST">
            <input type="hidden" name="lat" id="lat" value="">
            <input type="hidden" name="long" id="long" value="">
            <input type="hidden" name="test" id="test" value="">
            <button type="span" id="detect_mood_button" class="btn btn-colorg btn-lg m-1 rounded" disabled><span class="font-weight-bold" id="detected_mood"> Detect Mood </span></button>
          </form>
          -->
          <button type="span" id="detect_mood_button" class="btn btn-colorg btn-lg m-1 rounded" disabled><span class="font-weight-bold" id="detected_mood"> Detect Mood </span></button>

        
      </div>
    </div>
  </div>
  
 
  <div class="mx-5 my-5 text-center align-items-center" style="color:white">
    <h5 >The moods that can be detected are:</h5>
    <h6> Anger </h6>
    <h6> Contempt </h6>
    <h6> Fear </h6>
    <h6> Disgust </h6>
    <h6> Neutral </h6>
    <h6> Sadness </h6>
    <h6> Happiness </h6>
  </div>
  <div class="mx-5 my-5 text-center">
    <h3 style="color:#24C28A">The mood detected is your most prominent mood. So what are u waiting for? Start Emofying!</h3>
  </div>
    <div id="camera_upload">
     
      <!-- Buttons -->
     <!--  <button  type="text">Start Camera</button> 
      <button  type="text" >Take Picture</button>
     <button id="clear_picture_button" type="text" disabled>Clear Picture</button>
     <button id="upload_button" type="text" disabled>Upload Picture</button>
      -->
      <br />

      
      

      <!-- Cloudinary Photo 
      <label for"cloudinary_photo">Image from Cloudinary:</label><br />
      <img id="cloudinary_photo"><br />
      -->
    </div>
    
     <!-- <h2>Upload Response:</h2>
    <textarea id="upload_response" readonly></textarea>   -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity=
    "sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
    crossorigin="anonymous"></script>
  <script src="js/webcam.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
<scr